@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./Fonts/fonts.css";

body {
  margin: 0;
  font-family: "Vazir-faNum", "Vazir", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
